@import "variables";


*,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


/*--------------------------------------------------------HEADER-------------------------------------------------------*/

.header {
    background: url("../img/backgroundpurple.png") repeat;
    background-size: auto;
    min-height: auto;
    max-width: 100%;

    & .navbar {
        background-color: transparent !important;
    }

    & .navbar-nav a {
        padding-left: 6rem;
        transition: all 1s;
    }

    & .navbar-brand img {
        max-width: 100%;
    }

    & .navbar-nav a:hover {
        color: $color-effect;
    }

    & .navbar-nav .nav-link,
    .navbar-nav .show>.nav-link {
        font-size: 20px;
        color: silver;
    }

    & .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }

}

/*--------------------------------------------------------GENERAL MAIN-------------------------------------------------------*/
.main {
    background-color: black;
    padding-bottom: 5rem;

    & h1 {
        font-size: 40px;
        color: $color-secondary;
        text-align: center;
        padding: 3rem;
    }

    & h2 {
        font-size: 35px;
        text-align: center;
        padding: 1.5rem;
        color: $color-secondary;
    }

    & h3 {
        background-color: $color-primary;
        color: $color-secondary;
    }

    & p {
        color: $color-secondary;
    }

    & label {
        color: $color-secondary;
    }

    & input {
        $input-border-color: red
    }

}

/*--------------------------------------------------------FOOTER-------------------------------------------------------*/

.footer {
    background: url("../img/backgroundpurple.png") repeat;
    max-width: 100%;
    height: 8rem;
    display: flex;
    justify-content: end;
    align-items: center;

    & li {
        list-style-type: none;
        text-decoration: none;
        color: $color-secondary;
    }

    & a {
        text-decoration: none;
        padding: 1rem;
        color: $color-secondary;
        transition: all 1s;
    }

    & a:hover {
        color: $color-effect;
        border-bottom: 1px $color-effect;
    }
}

/*--------------------------------------------------------MAIN INDEX-------------------------------------------------------*/
.main {
    &__sectionmembers {
        display: flex;
        flex-direction: column;
    }

    &__img {
        width: 100%;
    }

    &__biobandtitle {
       padding: 0%;
        color: $color-secondary;
    }

    &__bioband {
        background-color: $color-primary;
        border-radius: 15px;
        opacity: 70%;
        padding: 5px;
    }

    &__imgmember1 {
        margin-left: 7rem;
    }

    &__imgmember2 {
        margin-right: 7rem;
    }

    &__text1 {
        margin-right: 7rem;
        background-color: $color-primary;
        padding: 10px;
        opacity: 70%;
        border-radius: 15px;
    }

    &__text2 {
        margin-left: 7rem;
        background-color: $color-primary;
        padding: 10px;
        opacity: 70%;
        border-radius: 15px;
    }

    &__name2 {
        text-align: end;
    }

    &__steven {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__joe {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    &__brad {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__tom {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    &__joey {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /*--------------------------------------------------------MAIN MEDIA-------------------------------------------------------*/
    &__videography {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__video {
        margin: 1rem;
    }

    /*--------------------------------------------------------MAIN MUSIC-------------------------------------------------------*/
    &__albumsection {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 3rem;
    }

    &__imgmusic {
        width: 100%;
    }

    &__albumsection iframe {
        margin: 1rem;
    }

    /*--------------------------------------------------------MAIN TOUR-------------------------------------------------------*/

    &__imgtour {
        background-color: black;
        width: 100%;
    }

    &__toursection2 {
        padding: 10rem 1.5rem 5rem 1.5rem;
    }

    &__toursection2 th {
        color: $color-secondary;
    }

    &__toursection2 tr {
        background-color: $color-primary;
    }

    &_toursection2 td {
        color: $color-secondary;
    }

    /*--------------------------------------------------------MAIN STORE-------------------------------------------------------*/

    &__storesection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 3rem 7rem 3rem 7rem;
    }

    &__storesection img {
        transition: all 0.5s;
    }

    &__storesection img {
        width: 25%;
        margin: 2rem;
    }

    &__storesection img:hover {
        transform: scale(1.5, 1.5);
        border: solid black;
    }

    /*--------------------------------------------------------MAIN CONTACT-------------------------------------------------------*/

    &__imgcontact {
        padding-top: 1rem;
        width: 100%;
    }

    &__form {
        border-color: $color-primary;
        border-style: double;
    }

    &__btnform {
        padding: 5px;
        margin-bottom: 1rem;
        background-color: $color-primary;
        color: $color-secondary;
    }

}

/* RESPONSIVE MOBILE */
@media (min-width: 320px) and (max-width: 576px) {
    .navbar-brand {
        width: 205px;
    }

    .main {
        & h1 {
            font-size: 20px;
            padding: 1rem;
        }

        & h2 {
            font-size: 18px;
            padding: 1rem;
        }

        & h3 {
            text-align: center;
        }

        & p {
            font-size: 15px;
        }

        &__bioband {
            margin-top: 1rem;
            padding: 1rem;
        }

        &__text1 {
            margin: 0%;
        }

        &__text2 {
            margin: 0%;
        }

        &__steven {
            flex-direction: column;
            margin: 0;
        }

        &__joe {
            flex-direction: column;
            margin: 0;
        }

        &__brad {
            flex-direction: column;
            margin: 0;
        }

        &__tom {
            flex-direction: column;
            margin: 0;
        }

        &__joey {
            flex-direction: column;
            margin: 0;
        }

        &__imgmember1 {
            margin: 0;
            width: 70%;
            padding-top: 1rem;
        }

        &__imgmember2 {
            margin: 0;
            width: 70%;
            padding-top: 1rem;
        }

        & table {
            margin: 0%;
            padding: 0%;
            font-size: 10px;
        }

        &__toursection2 {
            padding: 0%;
        }

        & .btn {
            font-size: 10px;
        }

        &__storesection {
            margin: 1rem;
        }

        &__storesection img {
            width: 80%;
            margin: 0.5rem;
        }
    }

    .footer {
        justify-content: center;

        & svg {
            width: 25px;
        }
    }
}


/* RESPOSIVE TABLET */

@media (min-width: 577px) and (max-width: 991px) {
    .main {
        & h1 {
            font-size: 20px;
            padding: 1rem;
        }

        & h2 {
            font-size: 18px;
            padding: 1rem;
        }

        & h3 {
            text-align: center;
        }

        & p {
            font-size: 15px;
        }

        &__bioband {
            margin-top: 1rem;
            padding: 1rem;
        }

        &__text1 {
            margin: 0%;
        }

        &__text2 {
            margin: 0%;
        }

        &__steven {
            flex-direction: column;
            margin: 0;
        }

        &__joe {
            flex-direction: column;
            margin: 0;
        }

        &__brad {
            flex-direction: column;
            margin: 0;
        }

        &__tom {
            flex-direction: column;
            margin: 0;
        }

        &__joey {
            flex-direction: column;
            margin: 0;
        }

        &__imgmember1 {
            margin: 0;
            width: 70%;
            padding-top: 1rem;
        }

        &__imgmember2 {
            margin: 0;
            width: 70%;
            padding-top: 1rem;
        }

        &__storesection {
            margin: 1rem;
        }

        &__storesection img {
            width: 55%;
            margin: 0.5rem;
        }

        .footer {
            justify-content: center;

            & svg {
                width: 25px;
            }
        }
    }
}