.header {
    background: url("../img/backgroundpurple.png") repeat;
    background-size: auto;
    min-height: auto;
    max-width: 100%;
    & .navbar {
        background-color: transparent !important;
    }
    & .navbar-nav a {
        padding-left: 6rem;
        transition: all 1s;
    }
    & .navbar-brand img {
        max-width: 100%;
    }
    & .navbar-nav a:hover {
        color: $color-effect;
    }
    & .navbar-nav .nav-link,
    .navbar-nav .show>.nav-link {
        font-size: 20px;
        color: silver;
    }
    & .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }

}
