.main {
    &__imgcontact {
        padding-top: 1rem;
        width: 100%;
    }

    &__form {
        border-color: $color-primary;
        border-style: double;
    }

    &__btnform {
        padding: 5px;
        margin-bottom: 1rem;
        background-color: $color-primary;
        color: $color-secondary;
    }

}